@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  width: 1440px;
  height: 2850px;
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
  font-weight: 600;
  border: 1px solid black;
  padding: 0;
  margin: 0 auto;
}

.container__menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 1345px;
  height: 51px;
  padding:0;
  margin: 24px 0px 0px 42.72px;
  border: 1px solid red;
}

.menu__logo {
  display:flex;
  width: 166px;
  height: 51px;
  background: url(https://i.ibb.co/x1r6ZBx/Tesla-Wordmark-Red.png;);
  background-size: 100%;
  background-position: center;
  padding:0;
  margin:0;
}

.menu__nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 1117.28px;
  height: 51px;
  margin:0; 
}

.nav__link {
  display: flex;
  text-align: center;
  width: auto;
  height: 19px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-decoration: none;
  color: #000;
}

.nav__link_active {
  display: flex;
  text-decoration: none;
  color: #f00;
  border-bottom: 2px solid #f00;
  border-radius: 0 0 3px 3px;
}

.nav__link:active {
  text-decoration: none;
  font-size: 15px;
  color: #f00;
  border-bottom: 2px solid #f00;
  border-radius: 0 0 3px 3px;
}

.nav__link:nth-child(1) {
  display:flex;
  width: 62px;
  text-align center;
  height: 19px;
  margin:0 62px 0 257px;
}

.nav__link:nth-child(2) {
  display:flex;
  width: 63px;
  height: 19px;
  margin:0 24.86px 0 0;
}

.nav__link:nth-child(3) {
  display:flex;
  width: 61px;
  height: 19px;
  margin:0 44px 0 0;
}

.nav__link:nth-child(4) {
  width: auto;
  height: 19px;
  margin:0 46px 0 0;  
}

.nav__link:nth-child(5) {
  width: 55px;
  height: 19px;
  margin: 0 0px 0 0;
}

.nav__link:nth-child(6) {
  width: 69px;
  height: 19px;
  margin:0 30px 0 205px;
}

.nav__link:nth-child(7) {
  width: 50px;
  height: 19px;
  margin:0 0 0 0px;
}

.menu__burger {
  display: flex;
  width: 24px;
  height: 15px;
  background: url(https://i.ibb.co/ZWYPctm/menu.png) no-repeat;
  background-size: 100%;
  background-position: center;
  margin:0 0 0 30px;
  border: 0;
  outline: none;
  cursor: pointer;

}

.menu__burger:active {
  width: 27px;
  height: 19px;
  margin:0 0 0 27px;
  background: url(https://i.ibb.co/ZWYPctm/menu.png) no-repeat;
  background-size: 100%;
  background-position: center;
  border: 2px solid lightgrey; 
  outline: none;
  cursor: pointer;
}


/*Основной контент*/

.container__sections {
  display:flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  width: 1440px;
  height: 2700px;
  margin: 58px auto 0 auto;
  padding:0;
  border: 1px solid blue;  
}

.section {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-content: center;
  width: 1440px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  margin: 0;
  padding:0;
  background: url(https://i.ibb.co/2P0n4Px/Tesla-Wordmark-Red.png) no-repeat;
  border: 1px solid blue; 
}

.section__header {
  position: relative;
  width: 374px;
  height: 110px;
  font-style: normal;
  font-weight: 600;
  font-size: 90px;
  line-height: 110px;
  margin: 0 auto;
  border: 1px solid grey;
}

.section__greeting {
  display: flex;
  width: 251px;
  height: 19px;
  font-size: 15px;
  text-align: center;
  border: 1px solid black;
  margin: -12px auto 26px auto;
  padding: 0;
}

.section__image-car {
  display: flex;
  width: 968px;
  height: 450px;
  margin: 0;
  padding:0;
  background: url(https://i.ibb.co/0fsqbX0/tesla-png-tesla-png-hd-1636.png);
  background-size: 100%;
  border: 1px solid black;
  margin: 0 auto 26px auto;
}

/* ----------------------спецификация----------------------------- */

.section__specifications {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  height: 58px;
  margin: 0 auto;
  padding:0;
  border: 4px solid red;
}

.time-speed {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  width: 160px;
  height: 58px;
  margin: 0 61px 0 0;
  padding:0;
  border: 1px solid black;
}

.time-speed__speedometer {
  display: flex;
  width: 46px;
  height: 58px;
  margin: 0 0 0 0;
  background: url(https://i.ibb.co/mSRKSz6/Speed.png) no-repeat;
  background-size: 100%;
  background-position: center;
  border: 1px solid black;
}

.numeral {
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 43px;
}

.time-speed__numeral {
  display: flex;
  width: 51px;
  height: 43px;
  border: 1px solid black;
  margin:0 0 0 12px;
  padding: 0;
}

.text {
  font-size: 20px;
  line-height: 24px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
}

.time-speed__text {
  display: flex;
  align-items: flex-end;
  width: 37px;
  height: 41px;
  border: 1px solid black;
  margin:0 0 0 6px;
  padding: 0;
}

.subtext {
  font-size: 12px;
  line-height: 15px;
  font-style: normal;
  font-weight: normal;
}

.time-speed__subtext {
  display: flex;
  width: 80px;
  height: 15px;
  border: 1px solid black;
  margin:-15px 0 0 60px;
} 

.distance {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 145px;
  height: 58px;
  margin: 0 82px 0 0;
  padding:0;
  border: 2px solid black;
}

.distance__line {
  display: flex;
  width: 31px;
  height: 58px;
  margin:0 8px 0 0;
  background: url(https://i.ibb.co/DCQBjjV/Road-icon.png) no-repeat;
  background-size: 100%;
  background-position: center;
  border: 1px solid blue;
}

.distance__numeral {
  display: flex;
  width: 63px;
  height: 43px;
  border: 1px solid black;
  margin:0 6.5px 0 0;
  padding: 0;
}

.distance__text {
  display: flex;
  width: 29px;
  height: 25px;
  border: 1px solid black;
  left: 667px;
  top:  634px;
  margin:15px 0 6.5px 0;
  padding: 0;
}

.distance__subtext {
  display: flex;
  width: 67px;
  height: 15px;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  border: 1px solid black;
  left: 597.5px;
  top:  658px;
  margin:-16px 0 0 41px;
  padding:0;
} 

.test-drive {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

/* руль тест */

.test-drive__rudder {
  display:flex;
  width: 22px;
  height: 58px;
  margin: 0 6px 0 0 ;
  padding:0;
  background: url(https://i.ibb.co/wWgHDvw/steering-wheel.png) no-repeat;
  background-size: 100%;
  background-position: center;
  border: 1px solid black;
}

.test-drive__link {
  display:flex;
  width: 89px;
  height: 18px;
  font-size: 13px;
  line-height: 16px;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  border: 1px solid black;
  margin: 0 40px 0 0;
  text-transform: uppercase;
}

.test-drive__link:hover {
  display:flex;
  font-size: 13px;
  line-height: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #f00;
  cursor: pointer;
  padding: 0;
  border: 0;
}

.button {
  display: flex;
  width: 160px;
  height: 40px;
  font-size: 13px;
  line-height: 16px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.test-drive__button {
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  text-align: center;
  font-weight: bold;
  border: 2px solid #fff;
  color: #fff;
  background-color: #f00;
}

.test-drive__button:hover {
  font-size: 14px;
  color: #fff;
  border: 3px solid #fff;
  background-color: #f00;
  cursor: pointer;
  font-weight: bold;
  padding: 0;
}

.test-drive__button:focus {
  display:flex;
  color: #fff;
  border: 1px solid #fff;
  background-color: #f00;
  cursor: pointer;
  font-weight: bold;
  padding: 0;
  outline: none;
  box-shadow: 0 0 0 3px lightskyblue;
}

.test-drive__button:active {
  background-color: #fff;
  border-color: #000;
  color: #000;
  font-size: 12px;
}

/*Кнопка галка*/

.section__btn-pointer {
  display: flex;
  width: 34px;
  height: 20px;
  padding:0;
  margin:37px auto 37px auto;
  box-shadow: none;
  background: url(https://i.ibb.co/GFX8Xs7/Vector-1.png) no-repeat;
  background-size: 100%;
  position: center;
  outline: none;
  border: 1px solid white;
}

.section__btn-pointer:hover {
  cursor: pointer;
  padding: 0;
  border: 1px solid white;
  outline: none;
}

.section__btn-pointer:active {
  width: 40px;
  height: 25px;
  outline: none;
  margin:37px auto 32px auto;
  box-shadow: 0 0 0 3px grey;
}


/* Секция 2*//* Секция 2*//* Секция 2*//* Секция 2*//* Секция 2*//* Секция 2*//* Секция 2*//* Секция 2*//* Секция 2*//* Секция 2*//* Секция 2*//* Секция 2*/


.sections__dashboard {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Montserrat', sans-serif;
  width: 1440px;
  height: 900px;
  margin: 0 auto;
  background: url(https://i.ibb.co/h8FRxMN/2013-tesla-model-s-cockpit.png) no-repeat;
  background-size: 88.5%;
  background-position: left bottom;
  border: 1px solid black;
}

.dashboard__header {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 368px;
  max-height: 123px;
  font-size: 70px;
  line-height: 85px;
  font-weight: 600;
  color: #f00;
  flex: auto;
  border: 1px solid black;
  padding: 18px 0 0 65px;
  margin: 0px;
  
}

.dashboard-right {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 40px;
  color: white;
  margin-left: 634px;
}

.sidebar {
  display: flex;
  flex-flow: column wrap;
  width: 440px;
  height: 900px;
  color: #fff;
  border: 1px solid blue;
  background: #f00;
  background-size: 100%;
  margin-top: 0px;
}

.title {
  display: flex;
  font-size: 30px;
  line-height: 37px;
  font-style: normal;
  font-weight: 600;
  color: #fff;
}
  
.sidebar__title {
  display: flex;
  justify-content: center;
  width: 316px;
  height: 37px;
  color: #fff;
  border: 1px solid #fff;
  margin: 51px 72px 11px 52px;
}

.item {
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #fff;
}

.sidebar__item {
  display: flex;
  align-items:flex-start;
  justify-content: center;
  width: 316px;
  height: 206px;
  padding: 0px;
  margin: 0 72px 54px 52px;
  border: 1px solid #fff;
}

/* Символы */

.sidebar__symbol {
  display: flex;
  flex-flow: column;
  border: 1px solid #fff;
  margin: 0 0 0 48px;
  margin-bottom: 171px;
}

.symbol {
  width: 269px;
  height: 267px;
}
/* Символ display */

.symbol__display {
  display: flex;
  flex-direction: row;
  flex-grow:0;
  width: 200px;
  height: 65px;
  border: 1px solid blue;
  margin-bottom: 35px;
  padding:0;
}

.display-page {
  display: flex;
  flex-direction: row;
  flex-grow:0;
  flex: 0 0 55px;
  height: 65px;
  border: 1px solid #000;
  
}

.display-page__img {
  display: flex;
  flex-direction: row;
  width: 36px;
  height: 53px;
  border: 1px solid #fff;
  background: url(https://i.ibb.co/2d14C2z/screen-display.png) no-repeat;
  background-size: 100%;
  margin: 12px 19px 0 0;
}

.display-text {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 155px;
  height: 65px;
  border: 1px solid #000;  
}

.display-text__numeral {
  width: 35px;
  height: 35px;
  border: 1px solid #fff;
  padding:0;
  margin:0;
}

.display-text__text {
  width: 87px;
  height: 23px;
  border: 1px solid #fff;
  margin: 15px 0 0 10px; 
}

.display-text__subtext {
  display:flex;
  margin-left: 0px;
  width: 127px;
  height: 15px;
  border: 1px solid #fff;
  margin: 0px 0 4px 0;
}

/* Символ Wi-Fi */

.symbol__WiFi {
  display: flex;
  flex-direction: row;
  width: 269px;
  height: 71px;
  border: 1px solid #fff;
  margin-bottom: 25px;
}

.WiFi-page {
  display: flex;
  flex-direction: row;
  width: 64px;
  height: 34px;
  border: 1px solid #000;
  margin-top: 17px;
}

.WiFi-page__img {
  display: flex;
  width: 44px;
  height: 34px;
  border: 1px solid #fff;
  background: url(https://i.ibb.co/JtT1gvW/wifi.png) no-repeat;
  background-size: 100%;
  padding:0;
}

.WiFi-text {
  display: flex;
  flex-flow: column wrap;
  width: 225px;
  height: 71px;
  border: 1px solid #000;
}

.WiFi-text__text {
  display: flex;
  text-align: left;
  line-height: 18px;
  width: 172.68px;
  height: 36px;
  margin:0;
  border: 1px solid blue;
}

.WiFi-text__subtext {
  display: flex;
  margin-left: 0px;
  width: 205px;
  height: 30px;
  border: 1px solid #fff;
  margin: 1px 0 0 0px;
}

/* Символ bag */

.symbol__bag {
  display: flex;
  flex-direction: row;
  flex-grow:0;
  width: 210px;
  height: 71px;
  border: 1px solid #fff;
}

.bag-page {
  display: flex;
  flex-direction: row;
  flex-grow:0;
  width:60px;
  height: 65px;
  border: 1px solid #000;
}

.bag-page__img {
  display: flex;
  width: 36px;
  height: 53px;
  border: 1px solid #fff;
  background: url(https://i.ibb.co/zQ7Kmns/bag.png) no-repeat;
  background-size: 100%;
  padding:0;
  margin-top: 6px;
}

.bag-text {
  display: flex;
  flex-flow: row wrap;
  flex-grow:0;
  width: 155px;
  height: 65px;
  border: 1px solid #000;
}

.bag-text__numeral {
  display: flex;
  flex-grow:0;
  width: 69px;
  height: 37px;
  border: 1px solid #fff;
  margin:0;
}

.bag-text__text {
  display: flex;
  flex-grow:0;
  width: 63px;
  height: 22px;
  border: 1px solid #fff;
  margin: 15px 0 0 10px;
}

.bag-text__subtext {
  display: flex;
  width: 115px;
  height: 28px;
  margin: 0;
  border: 1px solid #fff;
}

/*ссылка тест и кнопка заказать*/

.sidebar__info {
  display:flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 347px;
  height: 40px;
  margin: 0px auto;
  border: 1px solid blue;
  text-transform: uppercase;
}

.info__image {
  display: flex;
  width: 22px;
  height: 22px;
  border: 1px solid black;
  background: url(https://i.ibb.co/zFFHDgv/Group-15.png) no-repeat;
  background-size: 100%;
}

.info__link {
  display:flex;
  align-items: center;
  justify-content: flex-start;
  width: 137px;
  height: 24px;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  border: 1px solid #000;
  margin: 0 22px 0 12px;
}

.info__link:hover {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  padding: 0;
  border: 0;
}

.info__button {
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  text-align: center;
  font-weight: bold;
  border: 2px solid #fff;
  color: #fff;
  background-color: #f00;
}
  
.info__button:hover {
  font-size: 14px;
  color: #fff;
  border: 3px solid #fff;
  background-color: #f00;
  cursor: pointer;
  font-weight: bold;
  padding: 0;
}

.info__button:focus {
  color: #fff;
  border: 1px solid #fff;
  background-color: #f00;
  cursor: pointer;
  font-weight: bold;
  padding: 0;
  outline: none;
  box-shadow: 0 0 0 3px lightskyblue;
}

.info__button:active {
  background-color: #fff;
  border-color: #000;
  color: #000;
  font-size: 12px;
}

/* Секция 3*//* Секция 3*//* Секция 3*//* Секция 3*//* Секция 3*//* Секция 3*//* Секция 3*//* Секция 3*//* Секция 3*//* Секция 3*//* Секция 3*//* Секция 3*/


.sections__frame {
  display: flex;
  flex-flow: row wrap;
}

.frame {
  display: flex;
  flex-flow: row wrap;
  width: 1440px;
  height: 900px;
  margin: 0 auto;
  border: 1px solid blue;
}

.frame__sidebar {
  display: flex;
  flex-flow: column wrap;
  width: 440px;
  height: 900px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  color: #fff;
  border: 1px solid black;
  background: #f00;
  background-size: 100%;
   
}

.frame__title {
  display: flex;
  width: 316px;
  height: 74px;
  border: 1px solid #000;
  margin: 51px 0 0px 56px;
}

.frame__item {
  display: flex;
  width: 316px;
  height: 134px;
  border: 1px solid black;
  margin: 12px 0 49px 56px;
}

/*Оценка защиты*/

.frame__title-rating {
  display: flex;
  width: 263px;
  height: 37px;
  margin: 0px 0 29px 56px;
  border: 1px solid black;
}

.frame__result {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 295px;
  height: 173px;
  font-size: 17px;
  font-weight:bold;
  line-height: 21px;
  list-style:none;
  margin: 0px 0 101px 56px;
  border: 1px solid blue;
}

.result-left {
  display: flex;
  width: 151px;
  height: 173px;
  border: 1px solid ;
  padding:0;
  margin:0;
}

li { list-style-type: none}

.result-left__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding:0;
  margin:0;
}

.list__item {
  display: flex;
  justify-content:space-between;
  width: 119px;
  height: 21px;
  border: 1px solid #fff;
  text-transform: uppercase;
}

.list__item_rack {
  width: 53px;
  height: 13px;
  border: 1px solid #fff;
  font-size: 10px;
  font-weight:bold;
  line-height: 12px;
  color: #fcc;
  margin: 6px 0 0 0;
  text-transform: uppercase;
}

.result-right {
  display: flex;
  width: 140px;
  height: 173px;
  border: 1px solid #fff;
  padding:0;
  margin:0;
}

.result-right__list {
  display: flex;
  flex-flow: column wrap;
  justify-content:space-between;
  padding:0;
  margin:0;
}

.result-right__item {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content:space-between;
  width: 138px;
  height: 25px;
  background url(https://i.ibb.co/BfqgXGC/Star-1.png);
  background-repeat: space;
  border: 1px solid black;
  padding:0;
  margin:0;
}
.item__star {
  display: flex;
  width: 25px;
  height: 25px;
  background: url(https://i.ibb.co/BfqgXGC/Star-1.png) no-repeat;
  margin: 0 2px 0 0;
}

/*Результат оценки защиты*/

.frame__five-star {
  display: flex;
  flex-flow: row wrap;
  width: 290px;
  height: 92px;
  border: 1px solid #fff;
  margin: 0 0 51px 66px;
}

.frame__image-shield {
  width: 62px;
  height: 74px;
  background: url(https://i.ibb.co/jy99Qdg/Group-5star.png) no-repeat;
  border: 1px solid #fff;
  margin: 9px 0 0 0;
}

.frame__five-text {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: center;
  width: 200px;
  height: 92px;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 43px;
  margin:0 0 0 23px;
  border: 1px solid #fff;
}

.frame__five-text_safety {
  width: 187px;
  height: 31px;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  margin:0;
  border: 1px solid #fff;
}

/*ссылка тест и кнопка заказать*/

.information-or-order {
  width: 347px;
  height: 40px;
}

.frame__info {
  display:flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 347px;
  height: 40px;
  margin-left: 49px;
  border: 1px solid blue;
}

.info__image {
  display: flex;
  width: 22px;
  height: 22px;
  border: 1px solid black;
  background: url(https://i.ibb.co/zFFHDgv/Group-15.png) no-repeat;
  background-size: 100%;
}

.info__link {
  display:flex;
  align-items: center;
  justify-content: flex-start;
  width: 137px;
  height: 24px;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  border: 1px solid #000;
  margin: 0 22px 0 12px;
  text-transform: uppercase;
}

.info__link:hover {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  padding: 0;
  border: 0;
}

.info__button {
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  text-align: center;
  font-weight: bold;
  border: 2px solid #fff;
  color: #fff;
  background-color: #f00;
  text-transform: uppercase;
}
  
.info__button:hover {
  font-size: 14px;
  color: #fff;
  border: 3px solid #fff;
  background-color: #f00;
  cursor: pointer;
  font-weight: bold;
  padding: 0;
}

.info__button:focus {
  color: #fff;
  border: 1px solid #fff;
  background-color: #f00;
  cursor: pointer;
  font-weight: bold;
  padding: 0;
  outline: none;
  box-shadow: 0 0 0 3px lightskyblue;
}

.info__button:active {
  background-color: #fff;
  border-color: #000;
  color: #000;
  font-size: 12px;
}

/*правая часть секции, каркас*/

.frame__image-car {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-content: flex-end;
  width: 996px;
  height: 900px;
  background: url(https://i.ibb.co/mB0kjm6/Model-SS.png) no-repeat;
  background-position: right 0px top 140px;
  border: 1px solid blue;
  margin:0;
  padding:0;
}

.image-car__sceleton {
  z-index: 2;
  position: relative;
  width: 1049px;
  height: 592px;
  right: 72px;
  top: 168px;
  margin:0 0 253.56px 0;
  padding:0;
  border: 1px solid blue;
  background: url(https://i.ibb.co/rZbd7qZ/Car-frame-group.png) no-repeat;
  background-position: center;
}

.image-car__webHero {
  display: flex;
  width: 93.13px;
  height: 37.77px;
  padding:0px;
  border: 1px solid blue;
  background: url(https://i.ibb.co/QMG0bnM/Group-2222.png;) no-repeat;
  background-position: center;
  background-size: 100%;
  margin:0 18.64px 12.44px 0;
}


@media screen and (max-width:768px) {
    .container {
      display: flex;
      max-width: 768px;
      max-height: 3073px;
      justify-content: center;
      margin: 0 auto;
    }
    
    .menu__nav {
      display: none;
    }
    .container__menu {
      max-width: 768px;
      justify-content: space-between;
    }
    .container__sections {
      max-width: 768px;  
    }
    .section {
      max-width: 768px;
      justify-content: center; 
    }





}

@media screen and (max-width: 356px) {
	.menu__nav {
		display: none;
	}
	.grid-itm {
		flex-wrap: nowrap;
		flex-basis: 100%;
	}
	.grid-img {
		flex: 0 0 auto;
	}
	.grid-itm:nth-child(even) .grid-img {
		margin: 0 0 0 30px;
		order: 2;
	}
	.grid-itm:nth-child(odd) .grid-img {
		margin: 0 30px 0 0;
	}
	.flex-cont {
		flex: 1 1 auto;
	}
	.grid-title {
		text-align: left;
	}
}